<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div class="image-container">
            <img class="logo" src="/images/logo-unmar-vector.svg" alt="logo Unmar" />
        </div>
        <div class="background-image"></div>
        <div class="form-container">
            <h1>Registrarse</h1>
            <p>Crea tu cuenta para ingresar</p>
            <form id="register-form" action="/register" method="POST">
                <label for="name" class="sr-only">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Nombre completo">
                <label for="user" class="sr-only">User</label>
                <input type="text" name="user" id="user" placeholder="Nombre de usuario">
                <label for="email" class="sr-only">email</label>
                <input type="email" name="email" id="email" placeholder="Correo electronico">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" od="password" placeholder="Contraseña">
                <button type="submit">Registrarse</button>
            </form>
            <p class="alternativa">
                Si ya tenes una cuenta ingresa a: <a href="/login" style="display: block; margin-top: 10px;">Iniciar
                    sesion</a>
            </p>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (typeof alert !=='undefined' && alert) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                confirmButtonColor: 'rgb(0, 205, 255)',
                confirmButtonText: 'Aceptar',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>,
                customClass: {
                popup: 'custom-popup',
                title: 'custom-title',
                content: 'custom-content',
                confirmButton: 'custom-confirm-button',
            }
            }).then(() => {
                window.location = '/<%= ruta %>';
            });
        </script>
        <% } %>
</body>

</html>